@reference "tailwindcss";

html {
  scroll-behavior: smooth;
}

h1 {
  @apply text-3xl my-5;
}

h2 {
  @apply text-2xl my-5;
}

h3 {
  @apply text-xl my-5;
}

h4 {
  @apply text-lg my-5;
}

h5 {
  @apply text-base my-5;
}

h6 {
  @apply text-sm my-5;
}

p {
  @apply my-5;
}

ul,
ol {
  @apply list-disc list-inside;
}

a {
  @apply text-blue-500 hover:underline;
}
