@import "tailwindcss";
@import "./fonts.css";

:root {
    --background: #f2f2f2;
    --foreground: #262626;
    --primary: #F28705;
}

@theme inline {
    --color-primary: var(--primary);
    --color-dark: var(--foreground);
    --color-light: var(--background);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --font-sans: "Nobel Uno", sans-serif;
    --font-brand: "Oliciy", sans-serif;
}

.swiper-pagination-bullet {
  background-color: #F28705; 
  opacity: 0.4;
  transition: opacity 0.3s;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #F28705;
}





