---
import Title from "./Title.astro";
---

<section>
  <div
    class="mx-24 text-center rounded-3xl border-[#ffffff] border-2 border-solid bg-white/30 backdrop-blur-md shadow-xl"
  >
    <Title title="¿Qué somos?" />

    <p class="text-3xl">
      Somos la solución líder en el control de salidas escolares diseñada para
      que las escuelas puedan ofrecer un entorno más seguro, organizado y
      eficiente. Nuestra plataforma facilita el registro, autorización y
      supervisión de salidas de estudiantes conectando de forma transparente a
      padres y personal escolar.
    </p>
  </div>
</section>
