---
import Title from "./Title.astro";
---

<section class="about p-5 pt-35 sm:pt-20">
  <div
    class="about-box mx-10 lg:mx-24 text-center rounded-3xl p-3 lg:p-10  border-2 border-primary"
  >
    <div class="about-title mb-3 sm:mb-10 overflow-hidden">
      <Title title="¿Quiénes somos?" />
    </div>

    <p class="about-text  text-base sm:text-lg lg:text-3xl">
      Somos una plataforma digital mexicana diseñada para escuelas privadas de nivel
maternal, preescolar, primaria, secundaria y preparatoria, donde los padres o tutores
recogen a sus hijos. Facilitamos un proceso de salida más seguro, ágil y ordenado,
eliminando listas manuales y mejorando la experiencia de entrega diaria.
</p>
  </div>
</section>
<script>
  import { gsap } from "gsap";
  import { SplitText } from "gsap/SplitText";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(SplitText);
  gsap.registerPlugin(ScrollTrigger);

  let split = SplitText.create(".about-text", {
    type: "lines",
  });

  gsap.from(".about-title", {
    opacity: 0,
    x: -100,
    duration: 0.7,
    delay: 0.25,
    scrollTrigger: {
      trigger: ".about",
      start: "top 80%",
    },
  });

  gsap.from(".about-box", {
    opacity: 0,
    x: -100,
    duration: 0.7,
    delay: 0.25,
    scrollTrigger: {
      trigger: ".about",
      start: "top 60%",
    },
  });

  gsap.from(split.lines, {
    opacity: 0,
    x: -100,
    delay: 0.25,
    duration: 0.7,
    stagger: 0.25,
    scrollTrigger: {
      trigger: ".about",
      start: "top 80%",
    },
  });
</script>
