---
import Title from "./Title.astro";
---

<section class="about p-5 pt-35 sm:pt-20 md:p-20">
  <div
    class="about-box mx-10 sm:mx-24 text-center rounded-3xl p-4 sm:p-20 shadow-lg shadow-primary border-2 border-primary"
  >
    <div class="about-title mb-3 sm:mb-10 overflow-hidden">
      <Title title="¿Qué somos?" />
    </div>

    <p class="about-text text-xs sm:text-3xl">
      Somos la solución líder en el control de salidas escolares diseñada para
      que las escuelas puedan ofrecer un entorno más seguro, organizado y
      eficiente. Nuestra plataforma facilita el registro, autorización y
      supervisión de salidas de estudiantes conectando de forma transparente a
      padres y personal escolar.
    </p>
  </div>
</section>
<script>
  import { gsap } from "gsap";
  import { SplitText } from "gsap/SplitText";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(SplitText);
  gsap.registerPlugin(ScrollTrigger);

  let split = SplitText.create(".about-text", {
    type: "lines",
  });

  gsap.from(".about-title", {
    opacity: 0,
    x: -100,
    duration: 1,
    delay: 0.25,
    scrollTrigger: {
      trigger: ".about",
      start: "top 80%",
    },
  });

  gsap.from(".about-box", {
    opacity: 0,
    x: -100,
    duration: 1,
    delay: 0.25,
    scrollTrigger: {
      trigger: ".about",
      start: "top 60%",
    },
  });

  gsap.from(split.lines, {
    opacity: 0,
    x: -100,
    delay: 0.25,
    duration: 1,
    stagger: 0.25,
    scrollTrigger: {
      trigger: ".about",
      start: "top 80%",
    },
  });
</script>
