---
import { benefits } from "../utils/constains";
import BenefitCard from "./BenefitCard.astro";
import Title from "./Title.astro";
---

<section>
  <div class="mt-20">
    <Title title="Beneficios" />
  </div>
  <div class="flex gap-4">
    <div class="w-full align-center justify-items-center">
      <img src="/src/image/MOKCUP-INICIO.webp" alt="" class="w-auto h-full" />
    </div>
    <div class="w-full flex flex-col justify-center gap-11">
      {
        benefits.map((benefit) => (
          <BenefitCard title={benefit.title} subtitle={benefit.subtitle}>
            <benefit.icon width={58} height={58} class="fill-primary" />
          </BenefitCard>
        ))
      }
    </div>
  </div>
</section>
