---

type Props = {
  title: string;
  subtitle: string;
};

const { title, subtitle } = Astro.props;
---

<div class="flex justify-start gap-2">
  <slot />
  <div>
    <h1 class=" text-xs md:text-xl text-bold font-brand">{title}</h1>
    <h2 class=" text-xs md:text-2xl">
      {subtitle}
    </h2>
  </div>
</div>
