---

---

<section class="callTo my-15 bg-primary py-8 flex content-center">
  <div class="w-full h-full">
    <div
      class="bg-[url(/image/bg-call2.webp)] lg:bg-[url(/image/bg-CallToAction.webp)] h-30 md:h-auto bg-no-repeat bg-contain bg-center md:bg-size-[550px]  lg:bg-contain"
    >
      <div class="px-10 lg:p-25">
        <p
          class="callTo-text content-center  text-xs md:text-lg lg:text-3xl text-center mb-4 lg:mb-10 text-light"
        >
          Somos un equipo comprometido de profesionales <br />
          dedicados a mejorar la experiencia escolar y a <br />
          proporcionar herramientas efectivas para el control <br /> de salidas estudiantiles.
        </p>
      </div>
    </div>
  </div>
</section>
<script>
  import { gsap } from "gsap";
  import { SplitText } from "gsap/SplitText";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(SplitText);
  gsap.registerPlugin(ScrollTrigger);

  let split = SplitText.create(".callTo-text", {
    type: "lines",
  });

  gsap.from(split.lines, {
    opacity: 0,
    x: 40,
    stagger: 0.25,
    duration: 0.8,
    scrollTrigger: {
      trigger: ".callTo",
      start: "top 60%",
    },
  });
  gsap.from(".callTo-button", {
    opacity: 0,
    x: 40,
    duration: 0.8,
    scrollTrigger: {
      trigger: ".callTo",
      start: "top 60%",
    },
  });
  gsap.from(".callTo", {
    opacity: 0,
    duration: 1,
    delay: 0.20,
    scrollTrigger: {
      trigger: ".callTo",
      start: "top 60%",
    },
  });
</script>
