---

---

<footer
  class="bg-primary flex flex-wrap justify-around items-center  bottom-0 w-full"
>
  <div>
    <img src="/image/logo.webp" alt="Ilogs" class="w-12 h-12 md:w-20 md:h-20" />
  </div>
  <div class="font-brand text-base lg:text-xl hover:text-dark">
    <a href="/FAQPage">Preguntas Frecuentes</a>
  </div>
  <div>
    <h2 class="text-[8px] sm:text-lg">Copyright 2025</h2></div>
</footer>
