---
import Logo from "image/logo.webp";
---

<footer
  class="bg-secondary flex flex-wrap justify-around items-center absolute bottom-0 w-full"
>
  <div>
    <img src="/image/logo.webp" alt="Ilogs" class="w-12 h-12 md:w-20 md:h-20" />
  </div>
  <div class="flex flex-wrap gap-3 md:gap-4 justify-center m-3">
    <a
      href="https://play.google.com/store/apps/details?id=com.munyaal.ilogs&pli=1"
      target="_blank"
      ><img
        src="/image/playStore.webp"
        alt="Ilogs"
        class="w-38  h-11 rounded-2xl sm:w-auto sm:h-13"
      /></a
    >
    <a href="https://apps.apple.com/us/app/ilogs/id6445826713" target="_blank"
      ><img
        src="/image/appStore.webp"
        alt="Ilogs"
        class="w-38 h-11 sm:w-45 sm:h-13"
      /></a
    >
  </div>
  <div><h2 class="text-[8px] sm:text-lg">Copyright 2025</h2></div>
</footer>
