---

---

<section class="bg-primary">
  <div
    class="relative bg-[url(/image/bg-hero2.webp)] bg-no-repeat bg-contain bg-center sm:bg-[url(/image/bg-hero.webp)]"
  >
    <div class="hero flex flex-col lg:flex-row content-center justify-center">
      <div
        class="w-full flex flex-col items-center text-center justify-center mt-25 lg:mt-60"
      >
        <h1 class="hero-text font-brand text-base lg:text-4xl text-light">
          SOLUCIÓN SEGURA Y<br />
          EFICIENTE <br />
          PARA EL CONTROL DE<br />
          SALIDAS ESCOLARES
        </h1>
        <p class="hero-text text-xs lg:text-xl text-light">
          Optimiza tus procesos escolares y ofrece tranquilidad<br /> a padres y
          docentes.
        </p>
      </div>
      <div class="w-full">
        <img
          src="image/MOCKUP-LOGIN.webp"
          alt="Mockup"
          class="hero-image w-80 md:w-96 md:h-1/2 lg:w-7xl lg:h-11/12 absolute  z-15 top-55 md:top-80 lg:top-10  left-7 md:left-60 lg:left-5/12"
        />
      </div>
    </div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 310"
      class="bottom-0 relative z-0"
    >
      <path
        class="fill-[#ffffff] dark:fill-[#262626]"
        d="M0,160L80,176C160,192,320,224,480,202.7C640,181,800,107,960,69.3C1120,32,1280,32,1360,32L1440,32L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"
      ></path>
    </svg>
  </div>
</section>
<script>
  import { gsap } from "gsap";
  import { SplitText } from "gsap/SplitText";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(SplitText);
  gsap.registerPlugin(ScrollTrigger);

  let split = SplitText.create(".hero-text", {
    type: "chars",
  });

  gsap.from(split.chars, {
    y: 30,
    autoAlpha: 0,
    stagger: 0.01,
    scrollTrigger: {
      trigger: ".hero",
      start: "top 80%",
    },
  });


  gsap.from(".hero-image", {
    y: 150,
    opacity: 0,
    ease: "power4.out",
    duration: 0.5,
    scrollTrigger: {
      trigger: ".hero",
      start: "top 80%",
    },
  });
</script>
