---
import Title from "./Title.astro";
import Play from "../assets/svg/play.svg";

const videoId = "PCoODwGT980";
const title = "Presentación de iLogs";
const thumbnail = "/image/banner-ilogs.webp";
---

<section class=" p-5 lg:px-20 lg:pb-20">
  <div class="section-testimonials">
  <div class="testimonials mb-6 sm:mb-15">
    <Title title="¡Diferénciate de los demás" />
    <Title title="y aumenta tu matricula escolar!"/>
  </div>
   <div class="flex justify-center items-center w-full h-3/5">
  <div
    class="testimonials flex aspect-video max-w-4xl w-full rounded-xl overflow-hidden relative"
    onclick={`this.outerHTML = '<iframe class="items-center w-3xs sm:w-full h-37 sm:h-[439px] rounded-xl" src="https://www.youtube.com/embed/${videoId}?autoplay=1" title="${title}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'`}
  >
    <img
      src={thumbnail}
      alt={`Vista previa de ${title}`}
      class="w-full h-full object-cover transition-transform duration-300 hover:scale-105"
      loading="lazy"
    />
    <div class="absolute inset-0 flex items-center justify-center">
      <div
        class="w-35 h-35 bg-center bg-no-repeat bg-contain fill-secondary opacity-45 cursor-pointer group hover:scale-115 duration-500"
      >
        <Play />
      </div>
    </div>
  </div>
</div>
    </div>
</section>
<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.from(".testimonials", {
    opacity: 0,
    y: 100,
    duration: 0.8,
    scrollTrigger: {
      trigger: ".section-testimonials",
      start: "top 50%",
    },
  });
</script>
