---
import FacebookSVG from "@assets/instagram.svg";
---

<a
  href="https://www.instagram.com/ilogs_oficial/"
  class="icon w-6 h-6 md:w-10 md:h-10 fill-light"
  target="_blank"
>
  <FacebookSVG />
</a>
