---
import LinkedinSVG from "@assets/linkedin.svg";

---

<a
  href="https://www.linkedin.com/company/ilogs-plataforma/"
  class="icon w-6 h-6 md:w-10 md:h-10 fill-light justify-center"
  target="_blank"
>
  <LinkedinSVG />
</a>
