---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;

interface Props {
  title: string;
}
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/icon-ilogs.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta property="og:title" content="iLogs - Seguridad & Orden" />
    <meta
      property="og:description"
      content="iLogs Seguridad & Orden en cada Salida Escolar"
    />
    <meta property="og:url" content="https://descubre.ilogs.com.mx/" />
    <meta property="og:image" content="/image/BannerOG.webp" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="iLogs" />
    <meta
      name="twitter:description"
      content="iLogs Seguridad & Orden en cada Salida Escolar"
    />
    <meta
      name="twitter:image"
      content="https://descubre.ilogs.com.mx/image/BannerOG.webp"
    />
    <meta name="twitter:url" content="https://descubre.ilogs.com.mx/" />
    <meta
      name="description"
      content="Digitaliza las salidas escolares con iLogs, las salidas escolares son más seguras, ofreciendo confianza a padres y personal educativo"

    />
    <meta name="Keywords" content="Control de salida, Gestión de salidas escolar, Seguridad estudiantil, Horarios de salida escolar, salida supervisada, Seguridad escolar, Gestión de permisos escolares, Control parental, Informes de salida escolar, Monitorización estudiantil, Registro de incidentes de salida, logistica de entrada, protección escolar,prevención escolar,escuela, educación">
  </head>
  <body
    class="bg-background text-foreground font-sans relative overflow-x-hidden"
  >
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
