---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Ilogs</title>
    <meta property="og:title" content="iLogs" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="https://descubre.ilogs.com.mx/" />
    <meta property="og:image" content="/image/BannerOG.webp"/>
  </head>
  <body class="bg-background text-foreground font-sans absolute">
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
    <script type="module">
      import {
        animate,
        inView,
        press,
      } from "https://cdn.jsdelivr.net/npm/motion@12.16.0/+esm";

      //Animacion scroll

      inView(".scroll-section", (element) => {
        animate(
          element,
          { opacity: 1, x: [-100, 0] },
          {
            duration: 0.9,
            easing: [0.17, 0.55, 0.55, 1],
          }
        );
        //Animacion presionar boton contactanos

        return () => animate(element, { opacity: 0, x: -100 });
      });
      press(".button", (element) => {
        animate(element, { scale: 0.8 }, { type: "spring", stiffness: 1000 });

        return () =>
          animate(element, { scale: 1 }, { type: "spring", stiffness: 500 });
      });
    </script>
  </body>
</html>
