---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

const {title} = Astro.props;

interface Props {
  title : string;
}
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta property="og:title" content="iLogs" />
    <meta property="og:description" content="iLogs Seguridad & Orden en cada Salida Escolar" />
    <meta property="og:url" content="https://descubre.ilogs.com.mx/" />
    <meta property="og:image" content="/image/BannerOG.webp"/>
  </head>
  <body class="bg-background text-foreground font-sans relative overflow-x-hidden pb-15 sm:pb-30">
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
